# OS
.DS_Store

# Editor
.vscode/

# Logs
*.log

# Build
target/
node_modules/
bin/
obj/

# Examples
*lab*/
*Lab*/

# Ignore everything in the folder
01-books/**/*

# Don't ignore Markdown files
!01-books/**/*.md
